<div class="bodyWrapper">
    <div class="twoColumnWrapper">

        <div class="colSmall">
            <nav id="subNav" class="vertical">
                <ul>
                    <li><a href="#content-1">Tower Rendering</a></li>
                    <li><a href="#content-2">Entry Rendering</a></li>
                    <li><a href="#content-3">Lobby Rendering</a></li>
                    <li><a href="#content-4">Great Room Rendering</a></li>
                    <li><a href="#content-5">Conference Center</a></li>
                    <li><a href="#content-6">Fitness Center</a></li>
                    <li><a href="#content-7">Building Views</a></li>
                </ul>
            </nav>
        </div>

        <div class="colLarge">
            <div id="subContentWrapper">
                <div id="content-1" class="image">
                    <img src="resources/images/design-and-great-room/tower-rendering.jpg" />
                    <span>Tower Rendering</span>
                </div>
                <div id="content-2" class="image">
                    <img src="resources/images/design-and-great-room/entry-rendering.jpg" />
                    <span>Entry Rendering</span>
                </div>
                <div id="content-3" class="image">
                    <img src="resources/images/design-and-great-room/lobby-rendering.jpg" />
                    <span>Lobby Rendering</span>
                </div>
                <div id="content-4" class="image">
                    <div class="image-map">
                        <img src="resources/images/design-and-great-room/second-floor-plan.jpg" />
                        <a class="image-map-area" 
                            href="#water-feature"
                            style="
                            height: 12%;
                            width: 8%;
                            left:27%;
                            top: 10%;"></a>
                        <a class="image-map-area" 
                            href="#fireplace-feature"
                            style="
                            height: 12%;
                            width: 22%;
                            left:38%;
                            top: 15%;"></a>
                        <a class="image-map-area" 
                            href="#conference-center"
                            style="
                            height: 22%;
                            width: 22%;
                            left:61%;
                            top: 10%;"></a>
                        <a class="image-map-area" 
                            href="#team-tabling"
                            style="
                            height: 11%;
                            width: 5%;
                            left:37%;
                            top: 60%;"></a>
                        <a class="image-map-area" 
                            href="#soft-seating"
                            style="
                            height: 11%;
                            width: 17%;
                            left:43%;
                            top: 60%;"></a>
                        <a class="image-map-area" 
                            href="#fitness-center"
                            style="
                            height: 20%;
                            width: 22%;
                            left:61%;
                            top: 56%;"></a>
                    </div>
    
                </div>
                <div id="content-5" class="image">
                    <img src="resources/images/design-and-great-room/conference-center.jpg" />
                    <span>Conference Center</span>
                </div>
                <div id="content-6" class="image">
                    <img src="resources/images/design-and-great-room/fitness-center.jpg" />
                    <span>Fitness Center</span>
                </div>
                <div id="content-7" class="image">
                    <img src="resources/images/design-and-great-room/building-views.jpg" />
                    <span>Building Views</span>
                </div>
                <div id="water-feature" class="image">
                    <img src="resources/images/design-and-great-room/great-room-water-feature.jpg" />
                </div>
                <div id="fireplace-feature" class="image">
                    <img src="resources/images/design-and-great-room/great-room-fire-place.jpg" />
                </div>
                <div id="conference-room" class="image">
                    <img src="resources/images/design-and-great-room/conference-center-rendering.jpg" />
                </div>
                <div id="team-tabling" class="image">
                    <img src="resources/images/design-and-great-room/great-room-teaming-table.jpg" />
                </div>
                <div id="soft-seating" class="image">
                    <img src="resources/images/design-and-great-room/great-room-soft-seating.jpg" />
                </div>
                <div id="fitness-center" class="image">
                    <img src="resources/images/design-and-great-room/fitness-center.jpg" />
                </div>
            </div>   
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
</div>

<script>
initSecondLevelNav();
$('img').load(function() {
    initThirdLevelNav();
});
</script>