
<script>
/* DREW TRY THIS:
  each nav item has a title, nav title, and selector to an element to show.
  in the nav's element, you can include whatever nav items you want.

  var navItems = [
    {
      nav-id: "first-nav",
      element: $('#first-tier')
    },
    {
      nav-id: "first-nav-item-1",
      element: $('#second-tier-1')
    },
    {
      nav-id: "first-nav-item-2",
      element: $('#second-tier-2')
    }
  ]

  <!-- MAIN CONTENT -->
  <div id="first-tier">
    <!-- nav inside content -->
    <ul>
      <li data-nav-id="first-nav-item-1"></li>
      <li data-nav-id="first-nav-item-2"></li>
    </ul>

    <div>
      content
    </div>
  </div>

*/
</script>

<div class="bodyWrapper">
</div>

<script>
  var contentTable = [
      {
        title: "000 title"
      },
      {
        title: "100 title"
      }
    ];

    contentTable[0].contentTable = [
      {
        title: "010 title",
        html: "<h1>Test</h1>"
      },
      {
        title: "010 title"
      }
    ];

    contentTable[1].contentTable = [
      {
        title: "100 title"
      },
      {
        title: "110 title"
      }
    ]

    $("#mainContent .bodyWrapper").append(buildNav(contentTable));

    var navWrapper = ".colSmall";
    var contentWrapper = ".colLarge";

    function buildNav(contentTable) {

      var $columnWrapper = $('<div class="twoColumnWrapper">');
      var $colSmall = $('<div class="colSmall">');
      var $colLarge = $('<div class="colLarge">');

      

      var $nav = $('<ul></ul>');
      for (var i in contentTable) {
        // build navigation item
        var navItem = document.createElement('li');
        navItem.id = i;
        navItem.innerHTML = contentTable[i].title;
        navItem.onclick = function() {
          console.log("nav " + this.id + " clicked");
          navItemClicked(contentTable, this.id);
        };
        // add to nav list
        $nav.append($(navItem));
        console.log("adding nav item: " + i);
      }

      $colSmall.append($nav);
      $columnWrapper.append($colSmall);
      $columnWrapper.append($colLarge);
      alert($columnWrapper.html());
      return $columnWrapper;
    }

    function navItemClicked(contentTable, currentIndex, clickedElement) {
      if (contentTable[currentIndex].contentTable !== undefined) {
        console.log("another table found");
        $(clickedElement).parent(".colSmall").siblings(".colLarge").empty();
        $(clickedElement).parent(".colSmall").siblings(".colLarge").append(
          buildNav(contentTable[currentIndex].contentTable)
        );
        navItemClicked(contentTable[currentIndex].contentTable, 0);
      } else if (contentTable[currentIndex].html !== undefined) {
        console.log("html reached: " + contentTable[currentIndex].html);
        $(clickedElement).parent(".colSmall").siblings(".colLarge").html(contentTable[currentIndex].html);
      } else {
        console.log("end of nav tree reached with no content");
      }
    }

/*
    0:
      0:
        0:
        1:
        2:
      1:
        0:
        1:
        2:
    1:
      0:
        0:
        1: 
*/

</script>