<div class="bodyWrapper">
    <div class="twoColWrapper">

        <div class="colSmall">
            <nav id="subNav" class="vertical">
                <li><a href="#content-1">DT Transformation Map</a></li>
                <li><a href="#content-2">Tenant Migration Map</a></li>
                <li><a href="#content-3">Access Map</a></li>
                <li><a href="#content-4">Mass Transit Map</a></li>
                <li><a href="#content-5">Amenity Map</a></li>
                <li><a href="#content-6">Parking Map</a></li>
                <li><a href="#content-7">Full Block Development Map</a></li>
            </nav>
        </div>

        <div class="colLarge">
            <div id="subContentWrapper">

                <div id="content-1">
                    <div class="twoColWrapper">
                        <div class="colSmall">
                            <nav class="thirdLevelNav vertical small alt">
                                <li><a href="#third-level-content-1">DT Transformation Map</a></li>
                                <li><a href="#third-level-content-2">Tenant Migration Map</a></li>
                                <li><a href="#third-level-content-3">Access Map</a></li>
                                <li><a href="#third-level-content-4">Mass Transit Map</a></li>
                                <li><a href="#third-level-content-5">Amenity Map</a></li>
                                <li><a href="#third-level-content-6">Parking Map</a></li>
                                <li><a href="#third-level-content-7">Full Block Development Map</a></li>
                            </nav>
                        </div>
                        <div class="colLarge thirdLevelNavContent">
                            <div id="third-level-content-1" class="image">
                                <img src="resources/images/locations/dt-transformation-map-1.jpg" />
                            </div>
                            <div id="third-level-content-2" class="image">
                                <img src="resources/images/locations/dt-transformation-map-2.jpg" />
                            </div>
                            <div id="third-level-content-3" class="image">
                                <img src="resources/images/locations/dt-transformation-map-3.jpg" />
                            </div>
                            <div id="third-level-content-4" class="image">
                                <img src="resources/images/locations/dt-transformation-map-4.jpg" />
                            </div>
                            <div id="third-level-content-5" class="image">
                                <img src="resources/images/locations/dt-transformation-map-5.jpg" />
                            </div>
                            <div id="third-level-content-6" class="image">
                                <img src="resources/images/locations/dt-transformation-map-6.jpg" />
                            </div>
                            <div id="third-level-content-7" class="image">
                                <img src="resources/images/locations/dt-transformation-map-7.jpg" />
                            </div>
                        </div>
                    </div>
                </div>

                <div id="content-2" class="image">
                    <img src="resources/images/locations/tenant-migration-map.jpg" />
                </div>

                <div id="content-3">
                    <div class="twoColWrapper">
                        <div class="colSmall">
                            <nav  class="thirdLevelNav vertical small alt">
                                <li><a href="#third-level-content-1">I5 North</a></li>
                                <li><a href="#third-level-content-2">I5 South</a></li>
                            </nav>
                        </div>
                        <div class="thirdLevelNavContent colLarge">
                            <div id="third-level-content-1" class="image">
                                <img src="resources/images/locations/access-map-i5-north.jpg" />
                            </div>
                            <div id="third-level-content-2" class="image">
                                <img src="resources/images/locations/access-map-i5-south.jpg" />
                            </div>
                        </div>
                    </div>
                </div>

                <div id="content-4">
                    <div class="twoColWrapper">
                        <div class="colSmall">
                            <nav  class="thirdLevelNav vertical small alt">
                                <li><a href="#third-level-content-1">Bus</a></li>
                                <li><a href="#third-level-content-2">Link</a></li>
                            </nav>
                        </div>
                        <div class="thirdLevelNavContent colLarge">
                            <div id="third-level-content-1" class="image">
                                <img src="resources/images/locations/mass-transit-map-bus.jpg" />
                            </div>
                            <div id="third-level-content-2" class="image">
                                <img src="resources/images/locations/mass-transit-map-link.jpg" />
                            </div>
                        </div>
                    </div>
                </div>

                <div id="content-5">
                    <div class="twoColWrapper">
                        <div class="colSmall">
                            <nav  class="thirdLevelNav vertical small alt">
                                <li><a href="#third-level-content-1">Shopping</a></li>
                                <li><a href="#third-level-content-2">Restaurants</a></li>
                                <li><a href="#third-level-content-3">Banks</a></li>
                                <li><a href="#third-level-content-4">Cafes</a></li>
                                <li><a href="#third-level-content-5">Fast Food</a></li>
                                <li><a href="#third-level-content-6">Grocery Stores</a></li>
                                <li><a href="#third-level-content-7">Full Hotels</a></li>
                            </nav>
                        </div>
                        <div class="thirdLevelNavContent colLarge">
                            <div id="third-level-content-1" class="image">
                                <img src="resources/images/locations/amenity-map-shopping.jpg" />
                            </div>
                            <div id="third-level-content-2" class="image">
                                <img src="resources/images/locations/amenity-map-restaurant.jpg" />
                            </div>
                            <div id="third-level-content-3" class="image">
                                <img src="resources/images/locations/amenity-map-banks.jpg" />
                            </div>
                            <div id="third-level-content-4" class="image">
                                <img src="resources/images/locations/amenity-map-cafe.jpg" />
                            </div>
                            <div id="third-level-content-5" class="image">
                                <img src="resources/images/locations/amenity-map-fast-food.jpg" />
                            </div>
                            <div id="third-level-content-6" class="image">
                                <img src="resources/images/locations/amenity-map-grocery.jpg" />
                            </div>
                            <div id="third-level-content-7" class="image">
                                <img src="resources/images/locations/amenity-map-hotel.jpg" />
                            </div>
                        </div>
                    </div>
                </div>

                <div id="content-6">
                    <img src="resources/images/locations/parking-map.jpg" />
                    <span>Parking Map</span>
                </div>

                <div id="content-7">
                    <div class="twoColWrapper">
                        <div class="colSmall">
                            <nav  class="thirdLevelNav vertical small alt">
                                <li><a href="#third-level-content-1">Full Block Dev Map</a></li>
                                <li><a href="#third-level-content-2">Full Block Rendering 1</a></li>
                                <li><a href="#third-level-content-3">Full Block Rendering 2</a></li>
                                <li><a href="#third-level-content-4">Full Block Rendering 3</a></li>
                                <li><a href="#third-level-content-5">Full Block Rendering 4</a></li>
                            </nav>
                        </div>
                        <div class="thirdLevelNavContent colLarge">
                            <div id="third-level-content-1" class="image">
                                <img src="resources/images/locations/full-block-dev-map.jpg" />
                            </div>
                            <div id="third-level-content-2" class="image">
                                <img src="resources/images/locations/full-block-dev-map-rendering-1.jpg" />
                            </div>
                            <div id="third-level-content-3" class="image">
                                <img src="resources/images/locations/full-block-dev-map-rendering-2.jpg" />
                            </div>
                            <div id="third-level-content-4" class="image">
                                <img src="resources/images/locations/full-block-dev-map-rendering-3.jpg" />
                            </div>
                            <div id="third-level-content-5" class="image">
                                <img src="resources/images/locations/full-block-dev-map-rendering-4.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="clear-fix"></div>
        </div>
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
</div>

<script>
initSecondLevelNav();
$('img').load(function() {
    initThirdLevelNav();
});
</script>