<div class="bodyWrapper">
    <div class="twoColumnWrapper">
        <div class="col1">
            <nav id="subNav" class="vertical">
                <ul>
                    <li><a href="#content1" data-gallery-index="1">Summary Statement</a></li>
                    <li><a href="#content2">Structure &amp; Sitework</a></li>
                    <li><a href="#content3">Curtain Wall</a></li>
                    <li><a href="#content4">MEP Systems</a></li>
                    <li><a href="#content5">Elevators</a></li>
                </ul>
            </nav>
        </div>
        <div class="col2">
            <div id="subContentWrapper">
                 <div id="content1">
                    <h3>Rejuvenate, reinvigorate and expand the property in the heart of 1st Hill at 1124 Columbia St.</h3>  
                    <ul class="bulletPoints">
                        <li>222,500 rentable square feet of space suitable for medical office and specialty medical services use</li>      
                        <li>412 below-grade parking spaces directly connected to the office levels</li>
                        <li>New and completely updated exterior windows, mechanical and electrical systems</li>
                        <li>Seismic upgrades to building structure and system supports</li>
                        <li>Demolish two existing structures, Eklind Hall and the below-grade ‘Annex’ to make way for the new parking garage</li>
                    </ul>
                </div>
                <div id="content2">
                    <h3>Structure &amp; Sitework</h3>  
                    <ul class="bulletPoints">
                        <li>Demolish interior finishes within the remaining structure to base conditions on levels 4 thru 7.  Demolish mechanical and electrical systems except those components directly serving existing tenants on levels 1, 2 and 3</li>      
                        <li>Concrete building foundations and mild-reinforced core shear walls and elevated floor slabs throughout for new parking garage and office levels</li>
                        <li>Existing building concrete structural elements reinforced where required to improve seismic performance to meet current code</li>
                        <li>Concrete paving, site furnishings and landscaping at building entry court, new landscaping and sidewalk along Columbia Street and southern half of Boren and Minor Avenues, new monument sign at building entry court</li>
                    </ul>
                </div>
                <div id="content3">
                    <h3>Building Configuration &amp; Enclosure</h3>  
                    <ul class="bulletPoints">
                        <li>Large floor plates with up to 30,000 rsf contiguous area</li>      
                        <li>12’-6” floor to floor on levels 4, 6 and 7 of the existing building and levels 1 thru 4 of the addition; 18’-0” floor to floor on level 5, and 16’ 0” floor to floor on level 6 of the addition</li>
                        <li>New structure enclosed with energy efficient glass and curtainwall system, metal panels and pre-cast elements </li>
                        <li>Existing building exterior upgraded with new insulation and improved and enlarged windows providing outstanding occupant comfort, natural lighting and improved energy performance</li>
                    </ul>
                </div>
                <div id="content4">
                    <h3>Building Features</h3>  
                    <ul class="bulletPoints">
                        <li>Four new state of the art elevators with access card control capability directly serving all levels of the below-grade parking structure and the office floors</li>      
                        <li>2 rebuilt and modernized elevators directly serving (and separating) the laboratory floors with access card control</li>
                        <li>Enclosed bicycle parking and shower/locker rooms for occupant use </li>
                        <li>Covered drop-off area with short-term parking providing direct access to new two-story building lobby; separate secure building entry for laboratory floors</li>
                        <li>Exterior and interior signage opportunities</li>
                    </ul>
                </div>
                <div id="content5">
                    <h3>Mechanical Plumbing &amp; Fire Protection Systems</h3>  
                    <ul class="bulletPoints">
                        <li>New state-of the art, energy efficient roof-top DX air handling units serving all floors, zoned to allow control for specific use; return and supply air terminals and distribution by tenant; steam generated hot water heating system to serve future tenant re-heat air terminals</li>      
                        <li>New DDC (direct digital control) automated building control system infrastructure in shell &amp; core with capacity for connection to future tenant equipment</li>
                        <li>Code required elevator and stair pressurization and exhaust  systems for garage, shower/restrooms, elevator machine rooms  </li>
                        <li>Multiple domestic cold water risers with valved taps for tenant connections</li>
                        <li>NFPA-13 approved fire sprinkler system throughout; code-required secondary fire water supply </li>
                    </ul>
                </div>
            </div>   
        </div>
        <div class="col3">
            &nbsp;
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#subContentWrapper").find("div").first().show(); 
        $("#subNav").find("a").first().addClass("active");
    });
</script>