<div id="scheduleContent" class="bodyWrapper">  
    <div class="image">
        <img class="galleryMain" data-lightbox="true" src="resources/images/schedule/schedule.jpg" />
    </div>
</div>

<script>
$(document).ready(function() {
    ScaleToFit($("#scheduleContent img"), $("#scheduleContent"));
});

</script>