<div class="bodyWrapper">
    <div class="twoColWrapper">
        <div class="colSmall">
            <div class="imgGallery text">
                <div class="image">
                    <img src="resources/images/tech-drawings/level-1.jpg" />
                    <span>Main Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-2.jpg" />
                    <span>2nd Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-3.jpg" />
                    <span>3rd Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-4.jpg" />
                    <span>4th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-5.jpg" />
                    <span>5th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-6.jpg" />
                    <span>6th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-7.jpg" />
                    <span>7th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-8.jpg" />
                    <span>8th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-9.jpg" />
                    <span>9th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-10.jpg" />
                    <span>10th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-11.jpg" />
                    <span>11th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-12.jpg" />
                    <span>12th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-13.jpg" />
                    <span>13th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-14.jpg" />
                    <span>14th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-15.jpg" />
                    <span>15th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-16.jpg" />
                    <span>16th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-17.jpg" />
                    <span>17th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-18.jpg" />
                    <span>18th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-19.jpg" />
                    <span>19th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-20.jpg" />
                    <span>20th Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/level-21.jpg" />
                    <span>21st Floor</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/roof.jpg" />
                    <span>Roof/Penthouse</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/garage-level-1.jpg" />
                    <span>Garage Level 1</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/typical-garage.jpg" />
                    <span>Typical Garage Level 2 to 6</span>
                </div>
                <div class="image">
                    <img src="resources/images/tech-drawings/building-section.jpg" />
                    <span>Building Section</span>
                </div>
                <div class="image" style="background-color: #007c92;">
                    <img src="resources/images/tech-drawings/typical-full-floor.jpg" />
                    <span>Typical Full Floor Build Out</span>
                </div>
                <div class="image" style="background-color: #007c92;">
                    <img src="resources/images/tech-drawings/typical-multi-tenant-floor.jpg" />
                    <span>Typical Multi-Tenant Floor Build Out</span>
                </div>
            </div>
        </div>
        <div class="colLarge">
            <div class="image highlight">
                <img class="galleryMain" data-lightbox="true" src="resources/images/tech-drawings/level-1.jpg" />
            </div>
        </div>
    </div>
</div>
