<div class="bodyWrapper">
    <div class="twoColWrapper">
        <div class="colSmall">
            <div class="imgGallery text">
                <div class="image">
                    <img src="resources/images/technology-and-automation/building-technology.jpg" />
                    <span>Building Technology</span>
                </div>
                <div class="image">
                    <img src="resources/images/technology-and-automation/building-automation-system.jpg" />
                    <span>Building Automation System</span>
                </div>
            </div>
        </div>
        <div class="colLarge">
            <div class="image">
                <img class="galleryMain" data-lightbox="true" src="resources/images/technology-and-automation/building-technology.jpg" />
            </div>
        </div>
    </div>
</div>