<div class="bodyWrapper">
    <div class="twoColWrapper">
        <div class="colSmall">
            <div class="imgGallery text">
                <div class="image">
                    <img src="resources/images/design-and-great-room/tower-rendering.jpg" />
                    <span>Tower Rendering</span>
                </div>
                <div class="image">
                    <img src="resources/images/design-and-great-room/entry-rendering.jpg" />
                    <span>Entry Rendering</span>
                </div>
                <div class="image">
                    <img src="resources/images/design-and-great-room/lobby-rendering.jpg" />
                    <span>Lobby Rendering</span>
                </div>
                <div class="image">
                    <img src="resources/images/design-and-great-room/great-room-rendering.jpg" />
                    <span>Great Room Rendering</span>
                </div>
                <div class="image">
                    <img src="resources/images/design-and-great-room/conference-center.jpg" />
                    <span>Conference Center</span>
                </div>
                <div class="image">
                    <img src="resources/images/design-and-great-room/fitness-center.jpg" />
                    <span>Fitness Center</span>
                </div>
                <div class="image">
                    <img src="resources/images/design-and-great-room/building-views.jpg" />
                    <span>Building Views</span>
                </div>
            </div>
        </div>

        <style>
            #pageContent {
                float: left;
                width: 85%;
                text-align: center;
            }

            #thirdLevelNav {
                float: left;
                width: 15%;
            }

            #thirdLevelNav ul {
                width: 100%;
                border-top: solid 1px #FFF;
                border-right: solid 1px #FFF;
                border-bottom: solid 1px #FFF;
            }
            #thirdLevelNav li {
                display: block;
                width: 100%;
                text-align: center;
                background: #666;
            }
            #thirdLevelNav a {
                color: #FFF;
                display: block;
                width: 100%;
                padding: 10px 0;
                background: #666;
                color: #ccc;
                border-bottom: solid 1px #FFF;
                opacity: 0.8;
                font-weight: 500;
                font-family: arial;
                font-size: 0.85em;
                transition: all 0.25s;
            }
            #thirdLevelNav a.active, #thirdLevelNav a:hover {
                background: #FFF;
                color: #e74c3c;
                opacity: 1;
                transition: all 0.25s;
            }
        </style>

        <div class="colLarge">
            <div id="pageContent" class="image">
                <img class="galleryMain" data-lightbox="true" src="resources/images/design-and-great-room/tower-rendering.jpg" />
            </div>
            <div id="thirdLevelNav">

            </div>
        </div>

        <script>

        var items = [
            {
                "navTitle": "Restaurants"
                ,"image": "resources/images/location/amenity-map-restaurant.jpg"
            },
            {
                "navTitle": "Shopping"
                ,"image": "resources/images/location/amenity-map-shopping.jpg"
            },
            {
                "navTitle": "Cafe"
                ,"image": "resources/images/location/amenity-map-cafe.jpg"
            }
        ]

        // test
        $img = $('img');
        $img.src = items[1].image;
        $img.load(function() {
            alert($img.width() + ", " + $img.height());
        });
        // end test

        var buildHtml = function(items) {
            var html = "";
            html += "<ul>";
            for (var i = 0; i < items.length; i++) {
                html += '<li><a href="#" class="navItem" data-nav-index="' + i + '">' + items[i].navTitle + '</a></li>';
            }
            html += '<li><a href="#" id="next">Next</a></li>'
            html += "</ul>";
            return html;
        }

        var goNextItem = function() {
            var navIndex = $mainImage.data('nav-index');
            navIndex++;
            if (navIndex >= items.length) {
                navIndex = 0;
            }
            $mainImage.attr('src', items[navIndex].image);
            $mainImage.data('nav-index', navIndex);
        }

        $(document).on("click", "#thirdLevelNav a.navItem", function() {
            var navIndex = $(this).data('nav-index');
            //$mainImage.attr('src', items[navIndex].image);
            SetMainGalleryImgSrc(items[navIndex].image);
            $mainImage.data('nav-index', navIndex);
        });

        $(document).on("click", "#next", function() {
            goNextItem();
        });

        
        $mainImage = $(".galleryMain");
        $navWrapper = $("#thirdLevelNav");
        $navWrapper.html(buildHtml(items));
        

        </script>

    </div>
</div>